/* :host(#font-selector-root){
  font-size: initial !important;
  font-weight: 800;
} */

/*

#font-selector-root{
  font-size: initial !important;
} */

#font-tester-container{
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-style: normal;
}

:host { font-size: initial }

/* width */
#font-selector-shadow-dom ::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}
  
  /* Track */
#font-selector-shadow-dom  ::-webkit-scrollbar-track {
    background: transparent; 
  }
   
  /* Handle */
#font-selector-shadow-dom  ::-webkit-scrollbar-thumb {
    background: #c2c2c2; 
    border-radius: 5px;
  }
  
  /* Handle on hover */
#font-selector-shadow-dom  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
}

.ant-message {
  z-index: 14000 !important; /* Ensure high zIndex and use !important to override defaults */
}