@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fondamento&family=chivo&family=Bellota&family=Battambang&family=Archivo+Black&family=Didact+Gothic&family=Sedgwick+Ave&family=Rowdies&family=Nosifer&family=Rubik+Doodle+Shadow&family=Quantico&family=Rubik+Glitch');

@import url('https://fonts.googleapis.com/css2?family=Bangers');

@import url('https://fonts.googleapis.com/css2?family=Bungee+Shade');
@import url('https://fonts.googleapis.com/css2?family=Aboreto');

/* @import url('https://fonts.googleapis.com/css2?family=Crafty+Girls'); */
@import url('https://fonts.googleapis.com/css2?family=Fuzzy+Bubbles');
@import url('https://fonts.googleapis.com/css2?family=Barrio');
@import url('https://fonts.googleapis.com/css2?family=Bowlby+One');
@import url('https://fonts.googleapis.com/css2?family=Gaegu');
@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter');

@import url('https://fonts.googleapis.com/css2?family=AR+One+Sans');
@import url('https://fonts.googleapis.com/css2?family=Almarai');

@import url('https://fonts.googleapis.com/css2?family=Abel');
@import url('https://fonts.googleapis.com/css2?family=Castoro+Titling');
@import url('https://fonts.googleapis.com/css2?family=Fascinate');
@import url('https://fonts.googleapis.com/css2?family=Limelight');
@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy');
@import url('https://fonts.googleapis.com/css2?family=Chango');

@import url('https://fonts.googleapis.com/css2?family=Audiowide');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono');
@import url('https://fonts.googleapis.com/css2?family=Courier+Prime');
@import url('https://fonts.googleapis.com/css2?family=Sixtyfour');

@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono');

	
	
:root{

    --bg-color: #fff;

    --btn-color: #fdfdfd;/* button color*/
    --btn-bg: #000;/* button bg color*/

    --primary-text-color: #000;
    --header-link-hover: #000;
    --input-hover-bd-color: #000;
    --hero-gradient: #fcfcfc;
}


html {
    scroll-behavior: smooth;
    font-family: "Ubuntu", sans-serif;
    /* font-family: Arial, Helvetica, sans-serif; */
}

.hero-bg-gradient{
    /* background: linear-gradient(180deg, var(--hero-gradient) 13%, rgba(0,0,0,0.258140756302521) 87%); */
    background: linear-gradient(180deg, var(--hero-gradient) 23%, rgba(0,0,0,0) 90%, var(--hero-gradient) 97%);
}

.hero-section{
    background-image: url('../assets/images/background/dots-dark.svg');
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover;
}

.ubuntu-family{
    font-family: "Ubuntu", sans-serif;
}

.sixtyfour-family {
    font-family: "Sixtyfour", monospace;
}

.share-tech-mono-family {
    font-family: "Share Tech Mono", monospace;
}


.castoro-titling-family {
    font-family: "Castoro Titling", system-ui;
}

.courier-prime-family {
    font-family: "Courier Prime", monospace;
}

.chango-family {
    font-family: "Chango", system-ui;
}

.bungee-shade-family {
    font-family: "Bungee Shade", system-ui;
    /* color: #0b0840; */
}

.aboreto-family {
    font-family: "Aboreto", system-ui;
}

.abel-family {
    font-family: "Abel", sans-serif;
}

.bangers-family {
    font-family: "Bangers", system-ui;
}

.ibm-plex-mono-family {
    font-family: "IBM Plex Mono", monospace;
}

.luckiest-guy-family {
    font-family: "Luckiest Guy", system-ui;
}

.architects-daughter-family {
    font-family: "Architects Daughter", handwriting;
    /* font-size: 22px; */
    letter-spacing: 1px;
    font-weight: 400;
/* line-height: 1.9; */
}

.fascinate-family {
    font-family: "Fascinate", system-ui;
}

.limelight-family {
    font-family: "Limelight", system-ui;
}

.almarai-family {
    font-family: "Almarai", sans-serif;
}

.ar-one-sans-family {
    font-family: "AR One Sans", sans-serif;
}

.gaegu-family {
    font-family: "Gaegu", handwriting;
    font-size: 22px;
    font-weight: 400;
}

.bowlby-one-family{
    font-family: "Bowlby One", system-ui;
    letter-spacing: 2px;
}

.barrio-family {
    font-family: "Barrio"  ,system-ui;
    color: rgb(26,47,102);
}

.fuzzy-bubbles-family {
    font-family: "Fuzzy Bubbles"  ,handwriting;
}

.audiowide-family {
    font-family: "Audiowide", system-ui;
    letter-spacing: 2px;
}


.crafty-girls-family {
    font-family: "Crafty Girls"  ,handwriting;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 3px;
}


.rubik-doodle-shadow-family {
    font-family: "Rubik Doodle Shadow", system-ui;
    letter-spacing: 3px;
    font-weight: 700;
}

.rubik-glitch-family {
    font-family: "Rubik Glitch"  ,system-ui;
    font-weight: 200;
}

.fondamento-family{
    font-family: "Fondamento", handwriting;
    font-weight: 700;
}

.chivo-family{
    font-family: "Chivo", sans-serif;
}

.quantico-family {
    font-family: "Quantico"  ,sans-serif;
    text-underline-offset: 2px;
    font-weight: 100;
    text-decoration: underline;
    font-style: italic;
}

.bellota-family{
    font-family: "Bellota", system-ui;
    font-weight: 600;
}

.battambang-family{
    font-family: "Battambang", system-ui;
    font-weight: 500;
}

.archivo-black-family{
    font-family: "Archivo Black", sans-serif;
    font-weight: 400;
    line-height: 1.3;
}

.didact-gothic-family{
    font-family: "Didact Gothic", sans-serif;
    text-decoration: underline;
    font-style: italic;
}

.sedgwick-ave-family{
    font-family: "Sedgwick Ave", handwriting;
    font-weight: 500;
    line-height: 1.5;
}

.rowdies-family{
    font-family: "Rowdies", system-ui;
    font-weight: 400;
}


header{
    /* background-color: #fff;
    color: #000; */
    color: #4b4b4b;
}


header > .collapsible-header{
    display: flex;
    gap: 1rem;
    width: 100%;
    background-color: inherit;
    place-content: center;
    overflow: hidden;
    transition: width 0.3s ease;
}

.animated-collapse{
    transition: width 0.3s ease;
}

.benefits-card{
    box-shadow: 10px 10px  black;
    position: relative;
    border-radius: 10px;
    transition: all 0.3s;
    transform: translate(-5px, -5px);
    background-color: #ffffbc;
}


.benefits-card:hover{
    /* transform: translate(-5px, -5px); */
    /* border-color: #820af3; */
    box-shadow: 15px 15px  #040404;
    z-index: 1;
}

.blog-card{
    position: relative;
    z-index: 2;
}

.blog-card::after{
    content: "";
    position: absolute;
    top: 10px;
    left: 10px;
    width: calc(100%);
    height: calc(100%);
    border-radius: 10px;
    z-index: -1;
    border: 2px solid #000;
    background-color: #ffd45d;
}


.video-shadow::before{
    content: "";
    position: absolute;
    top: -20px;
    left: -20px;
    width: calc(100% + 40px);
    height: calc(100% + 40px);
    border-radius: 10px;
    z-index: 0;
    border: 2px solid black;
    box-shadow: -10px 10px black;

    /* background-color: #000; */
}

.brick-shadow{
    box-shadow: 10px 10px  black;
}

.btn-primary{
    background-color: #b3db24;
    transition: all 0.3s;
    padding: 10px 30px;
    box-shadow: 4px 4px  black;
    border-radius: 5px;
    position: relative;
    text-align: center;
}

.btn-primary:hover{
    transform: translate(-10px, -10px);
    box-shadow: 10px 10px  black;
}

.extension-btn{
    box-shadow: 4px 4px  black;
}

.header-links {
    display: flex;
    align-items: center;
    min-width: fit-content;
    border-radius: 5px;
    padding: 5px 10px;
    transition: background-color 0.5s, color 0.5s;
}


.header-links:hover {
    color: #000000;
    /* background-color: var(--header-link-hover); */
}

.primary-text-color{
    color: var(--primary-text-color);
}


.scroller{
    /* width: max-content;
    flex-wrap: nowrap; */
    animation: scroll 40s forwards linear infinite;
  }
  
  .scroller[data-direction="right"] {
      animation-direction: reverse;
  }
  
  .scroller[data-direction="left"] {
      animation-direction: forwards;
  }
  
  .scroller[data-direction="left"] {
      animation-direction: forwards;
  }
  
  .scroller[data-speed="fast"]{
      animation-duration: 30s;
  }
  
  .scroller[data-speed="slow"]{
      animation-duration: 80s;
  }

.opacity-0{
    opacity: 0 !important;
}

.opacity-100{
    opacity: 100 !important;
}

.purple-bg-grad{
    background: rgb(126,34,206);
    background: linear-gradient(90deg, #7e22ce91 8%, #625aafae 31%, #7badbbbc 76%, #54d2d0ca 89%);
    filter: blur(50px);
    opacity: 0.5;
}

.btn{
    padding: 10px 15px;
    width: max-content;
    border-radius: 10px;
    color: var(--btn-color);
    background-color: var(--btn-bg);
    justify-content: center;
    align-items: center;
    display: flex;
    cursor: pointer;
}

.btn:hover{

}

.btn:disabled{
    cursor: default;
}

.input{
    padding: 10px;
    background-color: transparent;
    border-radius: 5px;
    /* outline: none; */
    min-width: 100px;
    border: 1px solid #818080;
    /* transition: border 0.3s; */
}

.input:active, .input:focus, .input:focus-within{
    border: 1px solid var(--input-hover-bd-color) !important;
}

.carousel-container {
    overflow: hidden;
    white-space: nowrap;
    width: 100%;
    max-width: 800px;
}
  
.carousel {
    display: inline-block;
    animation: scroll 10s linear infinite;
}
  
.carousel-img {
    display: inline-block;
    margin: 0 20px;
}


.marquee-container {
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    background: black;
    color: white;
    padding: 10px 0;
  }

    .marquee-wrapper {
        display: flex;
        gap: 20px; /* Adjust spacing between texts */
        animation: marquee 60s linear infinite;
    }

    @keyframes marquee {
        from {
            transform: translateX(0);
        }
        to {
            transform: translateX(-50%);
        }
    }
  
@keyframes scroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-50%);
    }
}

.footer-link{
    color: #434242;
    transition: color 0.3s;
}

.footer-link:hover{
    color: #0b0b0b;
}



/* Style for the collapsible content such as faq commonly known as: accordion */

.faq{
    background-color: #fff;
    color: #000000;
    border-radius: 20px;
    border: 2px solid #000;
    /* box-shadow: 5px 5px #0000009a; */
    transition: 0.3s all;
}

.faq-accordion {
    background-color: inherit;
    color: #000000;
    border-radius: 20px;

    cursor: pointer;
    padding: 15px 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    transition: height 0.4s;
}

.faq .content {
    padding: 0px 18px;
    border-radius: 20px;

    color: #232323;
    height: max-content;
    overflow: hidden;
    background-color: transparent;
    text-align: justify;
    max-height: 0px;
    transition: max-height 0.4s, padding 0.4s;
}

.faq .active{
    /* background-color: #2e2c2c !important; */
    /* box-shadow: 5px 5px #0000009a; */

}

.faq-active{
    box-shadow: 5px 5px #000000d2;
}

@media not all and (min-width: 1024px) {
    header .collapsible-header {
        position: fixed;
        right: 0px;
        flex-direction: column;
        opacity: 0;
        height: 100vh;
        min-height: 100vh;
        height: 100dvh;
        width: 0vw;
        justify-content: space-between;
        padding: 5px;
        padding-top: 5%;
        padding-bottom: 5%;
        place-items: end;
        background-color: #e4e4e4;
        color: #111111;
        overflow-y: auto;
        box-shadow: 3px 0px 3px 2px #9f9f9f;
    }

    .header-links{
        color: #0c0c0c;
    }
    
}