@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black');


@import url('https://fonts.googleapis.com/css2?family=Bowlby+One');

@import url('https://fonts.googleapis.com/css2?family=AR+One+Sans');

@import url('https://fonts.googleapis.com/css2?family=Castoro+Titling');

@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono');

@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono');



@import url('https://fonts.googleapis.com/css2?family=Inter');
@import url('https://fonts.googleapis.com/css2?family=New+Rocker');
@import url('https://fonts.googleapis.com/css2?family=Rakkas');
@import url('https://fonts.googleapis.com/css2?family=Bigshot+One');

	


:root{

    --bg-color: #fff;

    --btn-color: #fdfdfd;/* button color*/
    --btn-bg: #000;/* button bg color*/

    --primary-text-color: #000;
    --header-link-hover: #db9eff;
    --input-hover-bd-color: #000;
    --hero-gradient: #fcfcfc;
}


html {
    scroll-behavior: smooth;
    font-family: "Ubuntu", sans-serif;
    /* font-family: Arial, Helvetica, sans-serif; */
}

.hero-bg-gradient{
    /* background: linear-gradient(180deg, var(--hero-gradient) 13%, rgba(0,0,0,0.258140756302521) 87%); */
    background: linear-gradient(180deg, var(--hero-gradient) 23%, rgba(0,0,0,0) 90%, var(--hero-gradient) 97%);
}

.hero-section{
    background-image: url('../assets/images/background/dots-dark.svg');
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover;
}

/* ----------------------- fonts ---------------------- */

@font-face {
	font-family: "soria-font";
	src: url("../assets/fonts/soria-font.ttf");
}

.soria-font-family {
    font-family: "soria-font";
}

@font-face {
	font-family: "typefesse-font";
	src: url("../assets/fonts/Typefesse_Pleine.otf");
}

.typefesse-font-family {
    font-family: "typefesse-font";
}

.bigshot-one-family {
    font-family: "Bigshot One", system-ui;
}


.outlined-text {
    color: transparent;
    -webkit-text-stroke: 1px rgb(255, 255, 255);
    text-shadow: -7px -7px  white;
  }

.text-image {
    background: linear-gradient(45deg, #9affab, #fad0c4, #fad0c4, #c2c4fb);

    background-image: url('../assets/images/pexels-frans.jpg');
    background-size: cover;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

.rakkas-family {
    font-family: "Rakkas", system-ui;
    text-transform: uppercase;
}

.inter-family {
    font-family: "Inter", sans-serif;
}

.ubuntu-family{
    font-family: "Ubuntu", sans-serif;
}


.castoro-titling-family {
    font-family: "Castoro Titling", system-ui;
}


.ibm-plex-mono-family {
    font-family: "IBM Plex Mono", monospace;
}


.ar-one-sans-family {
    font-family: "AR One Sans", sans-serif;
}


.bowlby-one-family{
    font-family: "Bowlby One", system-ui;
    letter-spacing: 2px;
}

.archivo-black-family{
    font-family: "Archivo Black", sans-serif;
    font-weight: 400;
    line-height: 1.3;
}


header{
    /* background-color: #fff;
    color: #000; */
    color: #4b4b4b;
}


header > .collapsible-header{
    display: flex;
    gap: 1rem;
    width: 100%;
    background-color: inherit;
    place-content: center;
    overflow: hidden;
    transition: width 0.3s ease;
}

.animated-collapse{
    transition: width 0.3s ease;
}

.benefits-card{
    /* box-shadow: 10px 10px  black; */
    position: relative;
    border-radius: 10px;
    transition: all 0.3s;
    transform: translate(-5px, -5px);
    /* background-color: #ff625d; */
    /* background-color: #dbb2ff; */
    border: 2px solid black;
    z-index: 1;
}


.benefits-card:hover{
    /* transform: translate(-5px, -5px); */
    /* border-color: #820af3; */
    box-shadow: 15px 15px  #D3A1FF;
    z-index: 1;
}

/* .benefits-card::after{
    content: "";
    position: absolute;
    top: -10px;
    left: -10px;
    width: calc(100%);
    height: calc(100%);
    border-radius: 10px;
    z-index: -1;
    border: 2px solid #000;
    background-color: #ffffff;
} */


.testi-card{ /* testimonial card*/
    position: relative;
    /* box-shadow: 10px 10px #ffd45d; */
    box-shadow: 10px 10px #ffe089;
}

.testi-card::after{
    /* content: "";
    position: absolute;
    top: 10px;
    left: 10px;
    width: calc(100%);
    height: calc(100%);
    border-radius: 10px;
    z-index: -1;
    border: 2px solid #ffffff;
    background-color: #ffd45d; */
}

.blog-card{
    transition: all 0.3s;
    position: relative;
    z-index: 2;
    border-radius: 10px !important;
}

/* .blog-card::after{
    content: "";
    position: absolute;
    top: 10px;
    left: 10px;
    width: calc(100%);
    height: calc(100%);
    border-radius: 10px;
    z-index: -1;
    border: 2px solid #000;
    background-color: #ffd45d;
} */

.blog-card:hover{
    /* transform: translate(-5px, -5px); */
    /* border-color: #820af3; */
    box-shadow: 20px 20px  #ffd45d;
    z-index: 1;
}

.video-shadow::before{
    content: "";
    position: absolute;
    top: -20px;
    left: -20px;
    width: calc(100% + 40px);
    height: calc(100% + 40px);
    border-radius: 10px;
    z-index: -1;
    border: 2px solid #ffffff;
    box-shadow: -10px 10px #ffffff;

    /* background-color: #000; */
}


.brick-shadow{
    box-shadow: 10px 10px  rgb(248, 248, 248);
}

.btn-primary{
    background-color: #fff;
    transition: all 0.3s;
    padding: 10px 30px;
    /* box-shadow: 4px 4px  rgb(251, 251, 251); */
    border-radius: 5px;
    position: relative;
    text-align: center;
}

.btn-primary:hover{
    /* transform: translate(-10px, -10px); */
    /* box-shadow: 10px 10px  black; */
}

.extension-btn{
    box-shadow: 4px 4px  black;
}

.header-links {
    display: flex;
    align-items: center;
    min-width: fit-content;
    border-radius: 5px;
    padding: 5px 10px;
    transition: background-color 0.5s, color 0.5s;
}


.header-links:hover {
    color: var(--header-link-hover);
    /* background-color: var(--header-link-hover); */
}

.primary-text-color{
    color: var(--primary-text-color);
}


v-slider-frame {
    height: 50px;
    overflow: hidden;
    text-align: center;
  }
  ul.v-slides {
    list-style-type: none;
    transform: translateY(100px);
    padding:0;
  }
  .v-slide {
    line-height: 100px;
  }

.opacity-0{
    opacity: 0 !important;
}

.opacity-100{
    opacity: 100 !important;
}

.purple-bg-grad{
    background: rgb(126,34,206);
    background: linear-gradient(90deg, #7e22ce91 8%, #625aafae 31%, #7badbbbc 76%, #54d2d0ca 89%);
    filter: blur(50px);
    opacity: 0.5;
}

.btn{
    padding: 10px 15px;
    width: max-content;
    border-radius: 10px;
    color: #000;
    background-color: #fff;
    justify-content: center;
    align-items: center;
    display: flex;
    cursor: pointer;
}

.btn:hover{

}

.btn:disabled{
    cursor: default;
}

.input{
    padding: 10px;
    background-color: transparent;
    border-radius: 5px;
    /* outline: none; */
    min-width: 100px;
    border: 1px solid #818080;
    /* transition: border 0.3s; */
}

.input:active, .input:focus, .input:focus-within{
    border: 1px solid var(--input-hover-bd-color) !important;
}

.carousel-container {
    overflow: hidden;
    white-space: nowrap;
    width: 100%;
    max-width: 800px;
}
  
.carousel {
    display: inline-block;
    animation: scroll 10s linear infinite;
}
  
.carousel-img {
    display: inline-block;
    margin: 0 20px;
}


.marquee-container {
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    background: black;
    color: white;
    padding: 10px 0;
  }

    .marquee-wrapper {
        display: flex;
        gap: 20px; /* Adjust spacing between texts */
        animation: marquee 60s linear infinite;
    }

    @keyframes marquee {
        from {
            transform: translateX(0);
        }
        to {
            transform: translateX(-50%);
        }
    }
  
@keyframes scroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-50%);
    }
}

.footer-link{
    color: #f5f5f5;
    transition: color 0.3s;
}

.footer-link:hover{
    color: #b8b7ba;
}



/* Style for the collapsible content such as faq commonly known as: accordion */

.faq{
    background-color: #211f1f;
    color: #fff;
    border-radius: 20px;
    border: 1px solid #504d4d;
    /* box-shadow: 5px 5px #0000009a; */
    transition: 0.3s all;
}

.faq-accordion {
    background-color: inherit;
    color: #fffefe;
    border-radius: 20px;
    cursor: pointer;
    padding: 15px 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    transition: height 0.4s;
}

.faq .content {
    padding: 0px 18px;
    border-radius: 20px;
    color: #ffffff;
    height: max-content;
    overflow: hidden;
    background-color: transparent;
    text-align: justify;
    max-height: 0px;
    transition: max-height 0.4s, padding 0.4s;
}

.faq .active{
    /* background-color: #2e2c2c !important; */
    /* box-shadow: 5px 5px #0000009a; */

}

.faq-active{
    box-shadow: 5px 5px #868585d2;
}


/* .grid-bg{
    background-image: url(../assets/images/home/grid.svg);
} */

.grid-bg {
    /* background-color: white; */
    background-size: 40px 40px;
    background-image: 
      repeating-linear-gradient(0deg, #aba8a81a, #f1f1f11a 1px, transparent 1px, transparent 40px),
      repeating-linear-gradient(90deg, #aba8a81a, #f1f1f11a 1px, transparent 1px, transparent 40px);
    width: 100%;
    height: 100%;
  }


@media not all and (min-width: 1024px) {
    header .collapsible-header {
        position: fixed;
        right: 0px;
        flex-direction: column;
        opacity: 0;
        height: 100vh;
        min-height: 100vh;
        height: 100dvh;
        width: 0vw;
        justify-content: space-between;
        padding: 5px;
        padding-top: 5%;
        padding-bottom: 5%;
        place-items: end;
        background-color: #262525;
        color: #e1dfdf;
        overflow-y: auto;
        box-shadow: 3px 0px 3px 2px #9f9f9f;
    }

    .header-links{
        color: #f1f1f1;
    }
    
}